*.swp
*.swo
dist
node_modules/*
*.DS_Store
.log
npm-debug.log
didgeridoo.sublime-project
didgeridoo.sublime-workspace
Procfile
run.sh
public.pem
build
app.build.js
build.sh
config/credentials.json
public/node_modules/*
public/app/components/*