@font-face {
    font-family: 'FuturaLT';
    src: url('/fonts/FuturaLT/futuraltlight-webfont.eot');
    src: url('/fonts/FuturaLT/futuraltlight-webfont.eot?iefix') format('eot'),
         url('/fonts/FuturaLT/futuraltlight-webfont.woff') format('woff'),
         url('/fonts/FuturaLT/futuraltlight-webfont.ttf') format('truetype'),
         url('/fonts/FuturaLT/futuraltlight-webfont.svg#webfontsuzkNZHJ') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Exo';
    src: url('/fonts/Exo/Exo-ExtraLight.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    background: #000;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto !important;
    color: #000;
    font-family: 'FuturaLT', 'Lucida Grande', Geneva, Verdana, Arial;
    font-size: 12px;
    line-height: normal;
}

*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

/* Twitter Bootstrap */

li {
    line-height: normal;
}


.modal,
.modal.in,
.modal.fade.in {
    top: 30px;
    width: 600px;
    margin-left: -300px;
}

.modal-header,
.modal-header h3 {
    font-family: 'FuturaLT', 'Lucida Grande', Geneva, Verdana, Arial;
    font-weight: normal;
}

.modal-body,
.modal-footer {
    font-family: 'Lucida Grande', Geneva, Verdana, Arial;
}

.modal-backdrop.fade.in {
    opacity: .3;
}

/* jQuery UI */

.ui-widget-header {
    background: #272822;
    border: #333 1px solid;
    height: 40px;
}