ul.breadcrumb
    li
       a(href='/') Home
       span.divider /
    li.active
       != linkTo('users', path_to.users())

.page-header
  h1 Index of users


.row
  .span12
     p
        != linkTo('<i class="icon-plus icon-white"></i> New user', path_to.new_user(), {class: 'btn btn-primary'})

- if (users.length) {
.row
  .span12
     table.table.table-striped
       thead
         tr
           th ID
           th.span3 Actions
       tbody
         - users.forEach(function (user) {
         tr
           td
             != linkTo('user #' + user.id, path_to.user(user))
           td
             != linkTo('<i class="icon-edit"></i> Edit', pathTo.edit_user(user), {class: 'btn btn-mini'}) + ' '
             != linkTo('<i class="icon-remove icon-white"></i> Delete', pathTo.user(user), {class: 'btn btn-mini btn-danger', method: 'delete', remote: true, jsonp: '(function (u) {location.href = u;})'})
         - });
- } else{
.row
  .span12
     p.alert.alert-block.alert-info
        strong No users were found.
- }
