#didgeridoo-main-menu {
    color: #bbb;
    width:100%;
    height:34px;
    list-style: none;
    margin: 0;
    padding-left: 0;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
}

.ui-layout-north.collapsed li {
    display: none;
}

.ui-layout-north.collapsed li:first-child {
    display: block;
    width: 40px;
    overflow: hidden;
    margin-left: 5px;
}

.ui-layout-north.collapsed:hover li {
    display: block;
}

.ui-layout-north.collapsed:hover li:first-child {
    display: block;
    width: auto;
}

#didgeridoo-main-menu > li {
    float: left;
    text-indent: none;
    position: relative;
    height: 34px;
    margin-top: 1px;
}

#didgeridoo-main-menu > li:first-child {
    margin-top: 0;
}

#didgeridoo-main-menu > li.didgeridoo-main-menu-right {
    float: right;
}

#didgeridoo-main-menu > li.didgeridoo-main-menu-right > a:hover {
    background: transparent;
}

#didgeridoo-main-menu > li.didgeridoo-main-menu-right ul {
    left: auto;
    right: 0;
}

#didgeridoo-main-menu > li > a {
    display:block;
    width:auto;
    max-height: 34px;
    color: #fff;
    font-family: Lucida Grande, Geneva, Arial, Verdana;
    font-size: 13px;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: default;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

#didgeridoo-main-menu > li > a:hover {
    background: #fff;
    color: #1ABC9C;
    text-decoration: none;
}

/********************************
 *     SECOND AND NEXT LEVELS
 ********************************/

#didgeridoo-main-menu > li > ul li.hover > a {
    color: #fff;
    border-bottom: none;
    text-decoration: none;
}

#didgeridoo-main-menu > li ul {
    position:absolute;
    display:none;
    top:0;
    left:0;
    width: 250px;
    margin: 0;
    background-color: #1C140D;
    box-shadow:rgba(0,0,0,.4) 0 5px 10px;
    border: #333 1px solid;
    list-style: none;
    padding-left: 0;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
}

#didgeridoo-main-menu > li ul li {
    color: #fff;
    min-height: 24px;
    font-family: Lucida Grande, Geneva, Arial, Verdana;
    font-size: 12px;
    font-weight: normal;
    cursor: default;
}

#didgeridoo-main-menu > li ul li:first-child {
    margin-left: 0;
}

#didgeridoo-main-menu > li ul li:hover {
    padding: 0;
    background-color: #fff;
    color: #FF005C;
}

#didgeridoo-main-menu > li ul .didgeridoo-main-menu-separator,
#didgeridoo-main-menu > li ul .didgeridoo-main-menu-separator:hover {
    margin: 6px 0;
    height: 1px;
    min-height: 1px;
    background-color: #333;
}

#didgeridoo-main-menu > li ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding:4px 3px 0 15px;
    min-height: 20px;
    max-width: 160px;
    width:auto;
    float:left;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}


#didgeridoo-main-menu > li ul li.hover > a {
    background-color: #fff;
    color: #1ABC9C;
    padding:4px 3px 0 15px;
    box-shadow: none;
}

#didgeridoo-main-menu > li ul li .didgeridoo-main-menu-open-icon {
    display: block;
    float:right;
    width:16px;
    height:17px;
    margin-top: 3px;
    background: url(/images/ui-icons_bbbbbb_256x240.png) -32px -16px no-repeat;
}

#didgeridoo-main-menu > li ul li:hover .didgeridoo-main-menu-open-icon {
    background-image: url(/images/ui-icons_ffffff_256x240.png);
}

#didgeridoo-main-menu > li ul li .didgeridoo-main-menu-hotkey {
    display: block;
    float:right;
    height:17px;
    margin: 6px 3px 0 0;
    font-size: 9px;
    font-style: italic;
    font-weight: bold;
    color: #777;
}

#didgeridoo-main-menu > li > ul {
    margin-top:33px;
}


/**
 * Styles for specific items	
*/

#didgeridoo-main-menu #didgeridoo-main-menu-didgeridoo {
    display:block;
    background: url(/images/didgeridoo.png) 5px 4px no-repeat transparent;
    width: 40px;
    height: 35px;
    margin: 0 10px 0 0;
    padding: 0;
    border: none;
    border-radius: 0;
    text-indent: -99999px;
}

#didgeridoo-main-menu #didgeridoo-main-menu-user-name {
    height: 37px;
}

#didgeridoo-main-menu #didgeridoo-main-menu-user-name > a {
    display:block;
    color: #ccc;
    height: 37px;
    margin: 0 20px 0 0;
    padding: 8px 20px 0 50px;
    border: none;
    border-radius: 0;
}