<div class="ui-layout-north collapsed"></div>

<div class="ui-layout-center" role="tabpanel">
    <div style="background:white;position:absolute;left:0;top:0;right:0;bottom:0;z-index: 0;">
        <h1 style="position: absolute; left:50%; top: 50%; margin-left: -280px; margin-top: -40px; font-size: 80px;">Splash Screen</h1>
    </div>
</div>

<div class="ui-layout-sidebar ui-layout-sidebar-collapsed ui-layout-aside light-scrollbar">
    <div class="ui-layout-sidebar-nav">
        <a class="ui-layout-sidebar-nav-icon-collapse" title="Expand Sidebar"></a>
    </div>
    <div class="container light-scrollbar">
        
    </div>
</div>

<!--<div class="ui-layout-east ui-layout-aside light-scrollbar"><div class="container"></div></div>-->

<script id="didgeridoo-panel-window-template" type="text/template">
    <div id="<%=id%>" class="<%=classes%> didgeridoo-panel-window">
        <div class="didgeridoo-panel-window-header"><div class="didgeridoo-panel-window-header-title"><%=title%></div><a class="didgeridoo-panel-window-close"></a></div>
        <div class="didgeridoo-panel-window-content light-scrollbar"></div>
    </div>
</script>

<style type="text/css">
    .ui-layout-aside > .container {
        height: auto;
    }

    .didgeridoo-panel-window {
        display: none;
        overflow: auto;
        -webkit-user-select: none;
    }

    .didgeridoo-panel-window-collapsed {
        overflow: hidden;
        height: 30px;
    }

    .light-scrollbar::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        display: none;
    }

    .light-scrollbar:hover::-webkit-scrollbar {
        display: block;
    }

    .light-scrollbar::-webkit-scrollbar-track {
        background: #555;
    }

    .light-scrollbar::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        background: #777; 
    }
    .light-scrollbar::-webkit-scrollbar-thumb:window-inactive {
        background: #333; 
    }

    .didgeridoo-panel-window-header {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: 26px;
        background: #272822;
        margin: 10px 0 0 0;
        padding: 0 10px;
        overflow: hidden;
        z-index: 2;
    }

    .didgeridoo-panel-window-icon {
        position: absolute;
        left: 8px; top: 2px;
        width:16px;
        height:17px;
        cursor: pointer;
    }

    .didgeridoo-panel-window-header-title {
        height: 22px;
        overflow: hidden;
        color: #fff;
        font-family: 'Exo', Lucida Grande, Geneva, Verdana, Arial;
        font-size: 14px;
        letter-spacing: .17em;
        text-align: left;
        text-overflow: ellipsis;
        text-transform: uppercase;
        margin-right: 20px;
    }

    .didgeridoo-panel-window-close {
        position: absolute;
        top: 0;
        right: 8px; 
        width:16px;
        height:17px;
        background-image: url(/images/ui-icons_ffffff_256x240.png);
        background-position: -80px -128px;
        cursor: pointer;
    }

    .didgeridoo-panel-window-close:hover {
        background-image: url(/images/ui-icons_000000_256x240.png);
        background-position: -80px -128px;
    }

    .ui-layout-sidebar .didgeridoo-panel-window-toolbar {
        background-image: none;
        background-color: transparent;
    }

    .ui-layout-sidebar .didgeridoo-panel-window-content {
        position: absolute;
        left: 0;
        top: 36px;
        right: 0;
        bottom: 0;
        background: #272822;
        overflow: auto;
        color: #fff;
        border-top: #333 1px solid;
        border-left: #333 1px solid;
        z-index: 1;
    }

    .didgeridoo-panel-window-hidden {
        display: none;
    }

    .ui-layout-north {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 40px;
        background: #272822;
        border-bottom: #333 1px solid;
        border-right: none;
        border-radius: 0;
        overflow: visible;
        z-index: 100;
    }

    .ui-layout-north.collapsed {
        background: transparent;
        width: 48px;
        overflow: hidden;
        border-bottom: none;
        z-index: 100;
    }

    .ui-layout-aside, .ui-layout-aside .ui-resizable {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 240px;
        border: none;
        padding: 0;
        overflow: auto;
        z-index: 20;
    }

    .ui-layout-sidebar {
        background: #272822;
        left: 0;
        border-right: #333 2px solid;
        z-index: 20;
        overflow: hidden;
    }

    .ui-layout-sidebar-collapsed {
        width: 50px;
    }

    .ui-layout-sidebar-opened,
    .ui-layout-sidebar-expanded {
        width: 240px;
    }

    .ui-layout-sidebar-opened .container {
        border-right: #333 2px solid;
        overflow: auto;
    }

    .ui-layout-sidebar-collapsed .ui-resizable-handle {
        display: none !important;
    }

    .ui-layout-sidebar-nav {
        position: absolute;
        left: 0;
        top: 40px;
        width: 50px;
        bottom: 0;
        background: #272822;
        z-index: 10;
    }

    .ui-layout-sidebar-expanded .ui-layout-sidebar-nav {
        box-shadow: none;
    }

    .ui-layout-sidebar-nav-icon {
        display: block;
        margin: 10px 8px 0 3px;
        height: 32px;
        background-color: transparent;
        background-repeat: no-repeat;
    }

    .ui-layout-sidebar-nav-icon.active {
        width: 48px;
        border-right: #16A085 4px solid;
    }

    .ui-layout-sidebar-nav-icon-hidden {
        display: none;
    }

    .ui-layout-sidebar-nav-icon-collapse {
        display: block;
        background: url('/images/icons.png') -40px 0 no-repeat transparent;
        margin: 10px 8px 0 8px;
        width: 32px;
        height: 32px;    
        border-bottom: #ddd 1px solid;
        -webkit-transition: none;
    }

    .ui-layout-sidebar-nav-icon-collapse-expanded {
        background-position-y: -40px;
    }

    .ui-layout-sidebar .container {
        position: absolute;
        width: auto; /* Override Bootstrap */
        left: 50px;
        top: 0;
        right: 0;
        bottom: 0;
        background: #272822;
        z-index: 0;
    }

    .ui-layout-center {
        position: absolute;
        left: 50px;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #272822;
        font-size: 11px;
        padding: 0;
        border:none;
        border-radius: 0;
        overflow: auto;
        z-index: 10;
    }


    /* jQuery UI styles override */

    .ui-resizable-e {
        width: 4px;
        right: 0;
    }

    .ui-resizable-e:hover {
        border-right: #555 2px solid;
    }

    .ui-resizable-w {
        left: 0;
    }

    .ui-resizable-w:hover {
        border-left: #555 2px solid;
    }

    .ui-tabs .ui-tabs-nav li.ui-tabs-selected {
        margin-bottom: 9px;
    }

    .ui-layout-center-tab-list li.ui-state-default {
        background: #fff;
        border: none;
        border-radius: 0;
        margin: 3px 0 10px 7px;
        opacity: .7;
    }

    .ui-layout-center-tab-list li.ui-state-default a {
        color: #272822;
    }

    .ui-layout-center-tab-list li.ui-state-active,
    .ui-layout-center-tab-list li.ui-state-hover {
        opacity: 1;
    }

    .ui-layout-center-tab-list li.ui-state-active a {
        color: #1ABC9C;
    }

    .ui-layout-center-tab-list li.ui-state-hover {
        background: #1ABC9C;
    }

    .ui-layout-center-tab-list li.ui-state-hover a {
        color: #fff;
    }
</style>