doctype html
html
	head
		|<meta http-equiv="Cache-control" content="no-cache">
		|<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		!= csrfMetaTag()
		|<title>Didgeridoo IDE</title>
		|<link rel="stylesheet" type="text/css" href="/css/styles.css" />
		|<link rel="icon" href="/favicon.png" />
		|<script data-main="/app/didgeridoo" src="/app/libraries/require/require.js"></script>
	body