doctype 5
html
    head
        meta(charset='UTF-8')
        title= title
            |  - Didgeridoo IDE

        block css
        link(rel='icon', href='favicon.png')
        block js
            script(src='http://localhost:35729/livereload.js')
    body
        block content